{% extends 'base.html' %}

{% block content %}

    <h1 style=text-align:center class="mt-5">Art Feed</h1>

    {% if art_items %}
        {% for piece in art_items %}
        <div class="card container mb-5 mt-5 card-body">
            <div class=row>
                <div class=col-sm>
                    <img class='center' width="400" height="270" src="{{ piece.url }}"></img>
                </div>
            <div class=col-sm>
                <h1><a href='/art/{{ piece._id }}'>{{ piece.title }}</a></h3>
                <p class="hello"> piece description: {{ piece.description|safe|truncate(400) }}</p>
            </div>
            <div>
                <small> price: {{ piece.price }}$</small>
            </div>
                
            </div>
        </div>
        {% endfor %}
    {% endif %}
{% endblock %}
