{% extends 'base.html' %}

{% block content %}
<h1>My shopping cart</h1>
<div class="container-fluid mt-5">
<div class="row">
        <div class="col-sm">
            <h3>Item</h3>
        </div>
        <div class="col-sm">
            <h3>Listed price</h3>
        </div>
        <div class="col-sm">

        </div>   
    </div>
</div>
<hr color="black">
    {% if cart_items %}
        {% for item in cart_items %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm">
                    <h3><a href='/art/{{ item._id }}'>{{ item.title }}</a></h3>
                    <img class='center border rounded border-dark' width="200" height="200" src="{{ item.url }}"></img>
                </div>
                <div class="col-sm">
                    <h3>{{ item.price }}$</h3>
                </div>
                <div class="col-sm">
                    <form method='POST' action='/art/{{ item._id }}/delete'>
                        <button class='btn btn-primary' type='submit'>Delete</button>
                    </form>
                </div> 
            </div>
        </div>
        <hr>
        {% else %}
            <h1>Cart empty</h1>
        {% endfor %}
    {% endif %}
{% endblock %}